.container {
  height: 80px;
  width: 100%;
  max-width: 1200px;
  padding: 0 5%;
  margin: 30px auto;
}

.logo {
  height: 100%;
}

@media only screen and (max-width: 840px) {
  .container {
    height: 60px;
  }
}
