.module-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* height: 150px; */
  max-width: 500px;
}

.flower-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.module-section h2 {
  margin: 0;
  padding-left: 0;
  font-size: 2rem;
  padding-left: 10px;
}
