.slide {
  min-width: 300px;
  min-height: 300px;

  background: #ffffff;
  padding: 10px;
  border: 5px solid #000000;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.166);
  border-radius: 27px;

  display: flex;
  justify-content: center;
  align-items: center;
}
